
body {
  font-family: 'Book Antiqua';
  font-size: 12px;
  background-color: Black;
  color:white;
}

h1 {
  font-family: 'Helvetica';
  float: left;
}

#gf-map {
  position: absolute;
  margin-left: 25%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro {
  height:50%;
  width: 25%;
}

#ps {
position: absolute;
}

.legend {
  font-family: 'Helvetica';
  font-size: 20px;
  text-align: left;
  line-height: 18px;
  color: white;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;
}
